@keyframes toBottom {
  
  0% {
    opacity: 0%;
    transform: translateY(-50px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes rainbowBorder {
  0% {
    border: 5px dotted #2cb67d;
  }
  23% {
    border: 5px dotted rgb(221, 192, 0);
  }
  46% {
    border: 5px dotted rgb(221, 0, 110);
  }
  69% {
    border: 5px dotted rgb(97, 179, 255);
  }
  82% {
    border: 5px dotted rgb(237, 75, 75);
  }
  100% {
    border: 5px dotted rgb(95, 23, 158);
  }
}

.feedback-article {
  padding-top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.feedback-section {
  min-width: 50vw;
  min-height: 50vh;
  animation: toBottom 1s,
    rainbowBorder 5s infinite alternate;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-family: retroica, sans-serif;
  font-weight: 100;
}

.feedback-section h1 {
  font-size: 2em;
}

.feedback-section button {
  padding: 10px 20px;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 0.5em;
  font-family: retroica, sans-serif;
  color: #16161a;
}

.feedback-section button:hover {
  opacity: 0.8;
}

.feedback-section button:active {
  transform: translateY(5px);
  box-shadow: none;
}

.btn-ranking {
  background-color: rgb(221, 192, 0);
  border: 0;
  box-shadow: 0 5px 0 #5a5014;
}