header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background-color: #7f5af0;
  padding: 50px;
}

header span {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: x-large;
  font-weight: bold;
  padding: 5px;
  color: black;
}

.trivia-logo {
  width: 200px;
  padding: 20px;
}

.profile-picture-header {
  width: 100px;
  border-radius: 40px;
  margin-left: 15px;
}

.player-info-header {
  margin-right: 40px;
  display: flex;
  align-items: center;
}